<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>beatrun.ru | Admin</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">

	<script>
		function sendAction(args) {
			const { action } = args;
			const responseBox = document.getElementById("responseBox");

			const xhr = new XMLHttpRequest();
			xhr.open("POST", "/api/admin", false);
			xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
			xhr.onload = function() {
				const response = JSON.parse(this.responseText);

				if (response.success) responseBox.innerText = response.message;
				else if (!response.success) responseBox.innerText = response.message;
			};
			xhr.send(JSON.stringify({
				action: action,
				args: args
			}));
		}
	</script>
</head>

<body class="w-screen h-screen bg-stone-900 overflow-x-hidden">
	<nav class="flex h-12 p-4 w-full bg-gradient-to-r from-red-700 to-red-800 drop-shadow-[0_5px_15px_rgba(0,0,0,0.3)]
					font-bold text-2xl">
		<div class="flex flex-row flex-grow">
			<div class="flex flex-col justify-center text-white p-2 rounded-lg drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
				<a href="/">beatrun.ru | Courses Database</a>
			</div>
		</div>

		<div class="flex flex-row flex-grow justify-end">
			<div class="flex flex-col justify-center">
				<a target="_blank" href="https://discord.com/invite/93Psubbgsg" class="text-base text-white p-2 rounded-lg
								hover:text-yellow-200 transition-all h-fit bg-opacity-10
								drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
					<i class="fa-brands fa-discord"></i>
				</a>
			</div>

			<div class="flex flex-col justify-center">
				<a href="/key" class="text-base text-white p-2 rounded-lg
										hover:text-yellow-200 transition-all h-fit bg-opacity-10
										drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
			</div>
		</div>
	</nav>

	<!-- Don't let Jonny near HTML ever again -->

	<main class="pt-2 flex flex-grow justify-center">
		<div class="h-fit m-4 p-2 rounded-lg bg-stone-800 text-white drop-shadow-[0_0px_10px_rgba(0,0,0,0.5)]">
			<div class="text-center w-screen">
				<div class="p-2 text-2xl font-bold">
					Admin Page
				</div>

				<div class="pb-2 text-base">
					I admin'd all over the place
					<br>
					This page sucks
				</div>
			</div>

			<div>
				<div class="flex">
					<input type="text" id="addKeyInput" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white" style="width: auto" placeholder="SteamID64">
					<input type="submit" onclick="event.preventDefault(); sendAction({ action: 'addKey', target: document.getElementById('addKeyInput').value })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" value="Add Key">
				</div>
				<br>
				<div class="flex">
					<input type="text" id="removeKeyInput" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white" style="width: auto" placeholder="SteamID64">
					<input type="submit" onclick="event.preventDefault(); sendAction({ action: 'removeKey', target: document.getElementById('removeKeyInput').value })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" role="button" value="Remove Key">
				</div>
				<br>
				<div class="flex">
					<input type="text" id="lockUserInput" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white" style="width: auto" placeholder="Authkey/SteamID64/IP">
					<input type="submit" onclick="event.preventDefault(); sendAction({ action: 'lockUser', target: document.getElementById('lockUserInput').value })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" value="Lock">
				</div>
				<br>
				<div class="flex">
					<input type="text" id="unlockUserInput" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white" style="width: auto" placeholder="Authkey/SteamID64/IP">
					<input type="submit" onclick="event.preventDefault(); sendAction({ action: 'unlockUser', target: document.getElementById('unlockUserInput').value })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" style="width: auto" role="button" value="Unlock">
				</div>
				<br>
				<div class="flex">
					<input type="text" id="removeCourseInput" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white" style="width: auto" placeholder="Course Code">
					<input type="submit" onclick="event.preventDefault(); sendAction({ action: 'removeCourse', target: document.getElementById('removeCourseInput').value })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" style="width: auto" role="button" value="Remove Course">
				</div>
				<br>
				<div class="flex">
					<input type="submit" id="showLogs" onclick="event.preventDefault(); sendAction({ action: 'showLogs' })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" value="Show logs">
					<input type="submit" id="showRecords" onclick="event.preventDefault(); sendAction({ action: 'showRecords' })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" value="Show records">
					<input type="submit" id="showLocks" onclick="event.preventDefault(); sendAction({ action: 'showLocks' })" class="text-sm rounded-lg focus:ring-yellow-200 focus:border-yellow-300 block w-fit p-2.5 bg-stone-700 border-stone-600 placeholder-stone-400 text-white hover:bg-stone-500 active:bg-stone-400 transition-all" role="button" style="width: auto" value="Show locks">
				</div>
				<br>
				<br>
				Server response:<br>
				<code id="responseBox">nothing...</code>
			</div>
		</div>
	</main>

	<div class="text-center bottom-0 p-4 text-white opacity-75 text-sm drop-shadow-[0_0px_6px_rgba(0,0,0,0.3)]">
		Coperight @ Jonny_Bro & rlx 2077
		<br>
		Full source code available <a class="hover:text-yellow-200 transition-all text-red-300" href="https://github.com/JonnyBro/beatrun-courses-server">here</a>!
	</div>
</body>
<script>
	if (window.history.replaceState) {
		window.history.replaceState(null, null, window.location.href);
	}
</script>

</html>