<?php

require('util.php');

$courses = get_courses_data();
$dropdown = file_get_contents("components/page_dropdown.html");

$page_count = floor(max(count($courses) / 20, 0));

$options = "<option value=\"0\">1</option>";

for ($i = 1; $i <= $page_count; $i++) {
	$lol = $i + 1;
	$options .= "<option value=\"$i\">$lol</option>";
}

$dropdown = str_replace("{options}", $options, $dropdown);

echo $dropdown;
